@import url("https://fonts.googleapis.com/css2?family=Diplomata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");

.startseite {
  margin-top: 80px; /* navbar alá tolás */
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* finom világos fátyol */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4); /* világos, 20%-os átlátszóság */
  z-index: 1;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000; /* sötét szöveg a világos fátyolhoz */
  text-align: center;
  z-index: 2;
}

.hero-text h1 {
  font-family: "diplomata", cursive;
  font-size: 48px;
  margin-bottom: 1arem;
}

.hero-text p {
  font-family: "festive", cursive;
  font-size: 85px;
  margin-bottom: 2rem;
}

/* gomb stílus */
/* 3D gomb a hero alatt */
.hero-3d-button {
  position: relative;
  width: 500px;
  height: 70px;
  display: inline-block;
  margin-top: 2rem;
  transition: 4s;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(0deg);
  text-decoration: none;
  z-index: 2;
}

.hero-3d-button:hover {
  transform: perspective(1000px) rotateX(360deg);
}

.hero-3d-button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(255, 64, 129, 0.9); /* a hero-button színéhez illeszkedő */
  font-family: "Diplomata", cursive;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 1px;
  border: 2px solid #ff4081;
  box-sizing: border-box;
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hero-3d-button:hover span {
  color: #000;
  background: #0ef;
  border: 2px solid #4040ff;
}

.hero-3d-button span:nth-child(1) {
  transform: rotateX(360deg) translateZ(45px);
}
.hero-3d-button span:nth-child(2) {
  transform: rotateX(270deg) translateZ(45px);
}
.hero-3d-button span:nth-child(3) {
  transform: rotateX(180deg) translateZ(45px);
}
.hero-3d-button span:nth-child(4) {
  transform: rotateX(90deg) translateZ(45px);
}
